@model TSBXG.Models.OutLink

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
                               
    <div class="panel panel-default">
        <div class="panel-heading">创建外部链接</div>
        <div class="panel-body">
            <div class="control-group">
                @Html.LabelFor(model => model.Text)
                @Html.TextBoxFor(model => model.Text, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Text)
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Url)
                @Html.TextBoxFor(model => model.Url, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Url)
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.IconMimeType)
                @Html.TextBoxFor(model => model.IconMimeType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IconMimeType)
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.DispalyIndex)
                @Html.TextBoxFor(model => model.DispalyIndex, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DispalyIndex)
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="创建" class="btn btn-primary" />
            @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
