@model IEnumerable<TSBXG.Models.OutLink>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">外部链接列表</div>
    <div class="panel-body">
        @Html.ActionLink("创建外部链接", "Create", null, new { @class = "btn btn-default" })
    </div>
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IconMimeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DispalyIndex)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IconMimeType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DispalyIndex)
                </td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("编辑", "Edit", new { id=item.Id }, new { @class = "btn btn-default" })
                        @Html.ActionLink("删除", "Delete", new { id=item.Id }, new { @class = "btn btn-default" })
                    </div>
                </td>
            </tr>
}

    </table>
</div>
