@model TSBXG.Models.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}
@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">创建用户</div>

        <div class="panel-body">

            @Html.ValidationSummary(true)


            <div class="control-group">
                @Html.LabelFor(model => model.UserName)
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Password)
                @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.FullName)
                @Html.TextBoxFor(model => model.FullName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FullName)
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Description)
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>

        </div>
        <div class="panel-footer">
            <input type="submit" value="创建" class="btn btn-primary" />
            @Html.ActionLink("返回", "Index", null, new { @class = "btn btn-default" })
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
