@model TSBXG.Models.Document

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
}

@using (Html.BeginForm("EditDoc", "Document", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return checkform()" }))
{
    @Html.ValidationSummary(true)
                                   
    <div class="panel panel-default">
        <div class="panel-heading">编辑</div>
        <div class="panel-body">

            @Html.HiddenFor(model => model.Id)
            @Html.Hidden("Category", Request["category"])

            <div class="editor-label">
                @Html.LabelFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Title)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Html)
                @Html.HiddenFor(model => model.Html)
                <div id="summernote">@Html.Raw(HttpUtility.HtmlDecode(Model.Html))</div>
                @Html.ValidationMessageFor(model => model.Html)
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="保存" class="btn btn-primary" />
            @Html.ActionLink("返回", "ListDoc", new { category = Request["category"] }, new { @class = "btn btn-default" })
        </div>
    </div>
}
<script type="text/javascript">
    function HTMLEncode(html) {
        var temp = document.createElement("div");
        (temp.textContent != null) ? (temp.textContent = html) : (temp.innerText = html);
        var output = temp.innerHTML;
        temp = null;
        return output;
    }
    function checkform() {
        $('input[name=Html]').val(HTMLEncode($('#summernote').summernote('code')));
        return true;
    }
    $(document).ready(function () {
        $('#summernote').summernote({ lang: 'zh-CN' });
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
